/* centre the main content area */
main {
    max-width: 800px;
    margin: auto;
}

/* page headings */
h1 {
    text-align: center;
    padding: 10px;
}

/* nav links */
/*nav a {
    border:solid;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;
}*/

#grandtotal {
    width: 100%

}

#signout {
    border:solid;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;
}

nav {
    text-align: center;
}

/* tables */
table {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px 0px;
}

td, th {
    border: thin;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/* forms */
form {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1em 0.5em;
}

label {
    grid-column: 1 / 2;
    text-align: right;
}

input, button, select, textarea {
    grid-column: 2 / 3;
}

button {
    border-radius: 4px;
    margin: 3px;
    transition-duration: 0.3s;
    padding: 6px 28px;
    font-size: 14px;
    border-color: dodgerblue;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid dodgerblue;
}

.checkout{
    padding: 2px 18px;
    font-size: 14px;
    color: white;
}

.filter{
    background-color: white;
    color: black;
    border-color: lightgray;

}

.buy{
    border-radius: 70px;
    background-color: white;
    color: black;
    border-color: gray;
    padding: 8px 12px;

}

textarea {
    height: 4em;
    resize: vertical;
    font-family: 'Lato', sans-serif;
}

input {
    font-family: 'Lato', sans-serif;
}

fieldset {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px 0px;
}



.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#images{
    text-align:center;
}

#text{
    text-align:right;
    padding-left: 30px;
    font-family: 'Lato', sans-serif;
}

/* colours */
th, a.nav, legend, label {
    color: dodgerblue;
    font-family: 'Lato', sans-serif;
}

h1, button {
    background-color: dodgerblue;
    color: white;
    font-family: 'Lato', sans-serif;
}

td, th {
    border-color: dodgerblue;
    font-family: 'Lato', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
}

@media (max-width: 640px){
    button {
        border-radius: 4px;
        margin: 3px;
        transition-duration: 0.3s;
        padding: 3px 16px;
        font-size: 14px;
        border-color: dodgerblue;
    }
}
