<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <title>JSP Page</title>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main>
            <navmenu></navmenu>
            <h1>Your Cart</h1>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for = "index in items">
                        <td>{{index.product.name}}</td>
                        <td>{{index.product.description}}</td>
                        <td>{{ formatCurrency(index.product.listPrice) }}</td>
                        <td>{{ index.quantityPurchased }}</td>
                        <td>{{ formatCurrency(getItemTotal(index)) }}</td>
                    </tr>
                </tbody>


                <td colspan="5" style="text-align: right">{{formatCurrency(grandTotal(items))}}</td>

            </table>

            <button @click.prevent="checkOut()">Check Out</button>
            <br>
            <br>
            <a class="nav" href="index.html"> Back to Home</a>
        </main>
        <script type="module" src="js/cart.js"></script>
    </body>
</html>
