<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main>
            <navmenu></navmenu>
            <h1>How many do you want to buy?</h1>

            <table>
                <tbody>
                    <tr><th>ID</th><td>{{product.productId}}</td></tr>
                    <tr><th>Name</th><td>{{product.name}}</td></tr>
                    <tr><th>Description</th><td>{{product.description}}</td></tr>
                    <tr><th>Price</th><td>{{ formatCurrency(product.listPrice) }}</td></tr>
                    <tr><th>Quantity Available</th><td>{{ formatNumber(product.quantityInStock, 2) }}</td></tr>
                </tbody>
            </table>

            <form @submit.prevent="addToCart()">
                <fieldset>
                    <legend>Quantity to Purchase</legend>

                    <div><label>How Many? </label><input type="number" min="1" step="1" v-model="quantity" required/><button type="submit" class="checkout">Add to Cart</button></div>


                </fieldset>
            </form>
        </main>
        <script type="module" src="js/cart.js"></script>
    </body>
</html>
