<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <title>JSP Page</title>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main>
            <navmenu></navmenu>
            <h1>Products</h1>

            <div class="categories"><button class ="filter" @click.prevent="getProducts()">All</button><button v-for="category in categories" @click.prevent="filterByCategory(category)" class ="filter">{{category}}</button></div>



            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Available</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for = "product in products">
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{ formatCurrency(product.listPrice) }}</td>
                        <td>{{ formatNumber(product.quantityInStock, 2) }}</td>
                        <td><button @click.prevent="buyProduct(product)" class="buy">Buy</button></td>
                    </tr>

                </tbody>
            </table>

            <a class="nav" href="index.html">Back to Menu</a>
        </main>
        <script type="module" src="js/view-products.js"></script>
    </body>
</html>
